@font-face {
    font-family:'Segoe UI Light';
    font-display: swap;
    src: url('../fonts/Segoe UI Light.eot');
  src: url('../fonts/Segoe UI Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Segoe UI Light.woff2') format('woff2'),
    url('../fonts/Segoe UI Light.woff') format('woff'),
    url('../fonts/Segoe UI Light.svg#Segoe UI Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}


@font-face {
    font-family:'Segoe UI Black';
     font-display: swap;
    src: url('../fonts/Segoe UI Black.eot');
  src: url('../fonts/Segoe UI Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Segoe UI Black.woff2') format('woff2'),
    url('../fonts/Segoe UI Black.woff') format('woff'),
    url('../fonts/Segoe UI Black.svg#Segoe UI Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}


@font-face {
    font-family:'Segoe UI Semibold';
     font-display: swap;
    src: url('../fonts/Segoe UI Semibold.eot');
  src: url('../fonts/Segoe UI Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Segoe UI Semibold.woff2') format('woff2'),
    url('../fonts/Segoe UI Semibold.woff') format('woff'),
    url('../fonts/Segoe UI Semibold.svg#Segoe UI Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}


@font-face {
    font-family:'Segoe UI Semilight';
     font-display: swap;
    src: url('../fonts/Segoe UI Semilight.eot');
  src: url('../fonts/Segoe UI Semilight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Segoe UI Semilight.woff2') format('woff2'),
    url('../fonts/Segoe UI Semilight.woff') format('woff'),
    url('../fonts/Segoe UI Semilight.svg#Segoe UI Semilight') format('svg');
    font-weight: 350;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}


@font-face {
    font-family:'Segoe UI';
     font-display: swap;
    src: url('../fonts/Segoe UI.eot');
  src: url('../fonts/Segoe UI.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Segoe UI.woff2') format('woff2'),
    url('../fonts/Segoe UI.woff') format('woff'),
    url('../fonts/Segoe UI.svg#Segoe UI') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Segoe UI Bold';
     font-display: swap;
    src: url('../fonts/Segoe UI Bold.eot');
    src: url('../fonts/Segoe UI Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Segoe UI Bold.woff2') format('woff2'),
    url('../fonts/Segoe UI Bold.woff') format('woff'),
    url('../fonts/Segoe UI Bold.svg#Segoe UI Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}


@font-face {
    font-family: 'famosaheavy_demo';
     font-display: swap;
    src: url('../fonts/famosa-heavydemo-webfont.woff2') format('woff2'),
         url('../fonts/famosa-heavydemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Famosa Heavy Demo';
  src: url('../fonts/Famosa-HeavyDemo.woff2') format('woff2'),
      url('../fonts/Famosa-HeavyDemo.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elephant';
  src: url('../fonts/Elephant-Regular.woff2') format('woff2'),
      url('../fonts/Elephant-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
