@media(min-width: 1600px){
	.pills-home-tab h5{
		font-size: 16px !important;
	}
	.container{max-width:1500px;}}

	@media(max-width: 1400px){
		.address-detail-section .about{
			padding-right: 20px !important;
		}
		.address-detail-section .about h5 {
			font-size: 18px;}
			.star-slider {
				margin-top: -79px;
			}
	}
@media(max-width: 1200px){
	br{display: none;}
	.star-slider{
		margin-top: -70px;
	}
	.About-Ceblix .Cc-inner-section {
		padding: 40px 10px 106px 10px;
	}
	.about h5{
	line-height: 30px;
	font-size: 18px;
	}
	.about p{
	line-height: 22px;
	}
	 .btn-wrapper a{
		font-size: 15px;
	}
	.address-detail-section .about h5 {
		font-size: 15px;
		line-height: 22px;}
		.footer-add-data {
			padding-right: 91px;}
			.testimonial-col{
				display: block;
			}
			.testimonial-col .name-data {
				margin-top: 25px;
			}
}

@media(max-width: 991px){
	.testimonial-col .name-data {
		margin-top: 50px;
	}

	.testimonial-col{
		display: flex;
	}
	.footer-add-data {
		padding-right: 5px;}
	.address-detail-section .about h5 {
		font-size: 11px;
		line-height: 19px;}
	.service-section{
		overflow: scroll;
	}
	.footer-inner-data ul li{
        display: inline;
	}
.about-section .about{
	margin-top: 15px;
}
	.main-heading h1 {
		font-size: 33px;
		line-height: 45px;
	}
	.navbar-brand img{
		width: auto;
		height: 70px;
	}
	.feature-data {
		margin-top: 18px;
	}
	.menu-wrapper{
		text-align: center;
		justify-content: center;
		margin-top: 20px;
	}
	.header-sec .btn-wrapper{
		justify-content: center;
		text-align: center;
		margin-bottom:20px ;
	}

	.Recorded-video-data h5 {
		line-height: 28px;
		font-size: 22px;
	}
	.address-detail-section .about{
		padding: 10px !important;
	}
	.rounded-left {
		border-radius: 10px;
		 margin-right: 0px; 
		padding-right: 20px;
	}
	.rounded-right {
		border-radius: 10px;
		 margin-left: 0px; 
		padding-left: 20px;
	}
}

@media(max-width: 767px){
	.contact-inner-section {
		background-color: #FBFBFB;
		border-radius: 10px;
		padding: 0px;
	}
	.footer-inner-data ul li:nth-child(3) h5{
	margin-top: 15px;
	}
	.address-detail-section .about h5 {
		font-size: 18px;
		line-height: 22px;}
	.contact-input-data {
		margin-top: 0px;
	}
	.phone-img{
		display: none;
	}
.Recorded-video-data{
	margin-top: 20px;
}

	.footer-inner-data ul li{
        border: none;
		display: flex;
		margin-top: 15px;
	}
  .footer-inner-data ul li img{
	width: 55px;
	height: 55px;
  }
  .socials img{
	width: 40px !important;
	height: 40px !important;
  }
	.footer-add-data{
		padding-right: 0px;
	}
	.footer-inner-data ul{
		justify-content: center;
		display: inline;
	}
	.copywrite-data .para{
		margin-top: 3px;
	}
	.star-slider{
		margin-top: -79px;
	}
.service-data{
	margin-top: 20px;
}
	.black h5 {
		margin-top: 15px;
		line-height: 24px;
	}
	.black .btn-wrapper {
		margin-top: 9px;
	}
	.btn-theme {
		padding: 12px 38px;
	}
	.button a {
		font-size: 14px !important;
	}

	.section{
		margin-top: 40px;
	}
	.main-img{
		margin-top: -41px;
	}
	.px-5 {
		padding-right:0px!important;
		padding-left: 0px!important;
	}
	.owl-nav button.owl-prev::after{
	    font-size: 16px;
	    width: 35px;
	    height: 35px;
	    line-height: 35px;
	    margin-right: 10px;
	}
	.owl-nav button.owl-next::after{
		font-size: 16px;
	    width: 35px;
	    height: 35px;
	    line-height: 35px;
	}
	.owl-nav {
	    position: absolute;
	    top: 0px;
	}

	.copywrite-data{
		display: inline;
	}
	.logo-img img{
		width: 157px!important;
		height: auto;
	}
	.rounded-left {
		border-radius: 10px;
		 margin-right: 0px; 
		padding-right: 20px;
	}
	.rounded-right {
		border-radius: 10px;
		 margin-left: 0px; 
		padding-left: 20px;
	}
	.endrosement-section{
		margin-top: 27px;
	}
	.contact-inner-section{
		padding: 20px 10px;
	}
	.our-service-isection {
		background-color: #FBFBFB;
		border-radius: 10px;
		padding: 20px 10px;
	}
	.endrosement-img img {
		border-radius: 10px;
	}
}

@media(max-width: 576px){
	.service-data {
		border-radius: 10px;}
	.about {
		border-radius: 10px;}
	.About-Ceblix .Cc-inner-section {
		border-radius: 10px;}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
		background: #EDB010;
		color: inherit;
		border: none;
		padding: 0!important;
		font: inherit;
		height: 10px;
		width: 10px;
		border-radius: 100%;
		margin-right: 5px;
	}
	.owl-dots {
		text-align: center;
	}
	.owl-dots .active{
		background: #ffe082 !important;
	}
	.star-slider .owl-dots {
		display: none;
	}
	.owl-nav {
		
		display: none;
	}
	
	.Recorded-video-data h5 {
		line-height: 28px;
		font-size: 20px;
	}
	.Recorded-video-data {
		border: 1px solid #EDB010;
		border-radius: 20px;
		padding: 20px 10px;
	}
	.black h5 {
		margin-top: 15px;
		line-height: 32px;
	}
	.black .btn-wrapper {
		margin-top: 20px;
	}
	.btn-theme {
		padding: 12px 64px;
	}
	.button a {
		font-size: 14px !important;
	}
	p {
		font-size: 16px;
		font-family: 'Segoe UI';
		line-height: 26px;
	}
	.navbar-brand img{
		width: auto;
		height: 48px;
	}
	.cmn-heading h2 {
		font-size: 27px;
		margin-bottom: 4px;
	}
	.cmn-heading p {
		font-size: 16px;
		line-height: 22px;
	}
	.para{
		font-size: 14px !important;
		line-height: 22px;
	}
	.direct-link-section ul a {
		font-size: 19px;
	}
	.direct-link-section ul {
		padding:20px 11px;
		column-gap: 18px;
	}
	.about-page-section {
		border-radius: 10px;}
		
}

@media(max-width: 480px){
	.accordion-button {
		padding: 10px;
		}
	.feature-data img {
		border-radius: 10px;
	}
	.feature-data {	
		padding: 10px 10px 20px 10px;
		border-radius: 10px;
	}
	.about {
		border-radius: 10px;
		padding: 15px 0 15px 15px;
	}
	.service-data {
		padding: 15px 0 15px 15px;
	}
	.fade {
		padding: 4px;
	}
	.footer-inner-data ul li {
		text-align: center;
		 display: block; 
	}
	.socials {
	justify-content: center;
	}
	.about-page-section {
		border-radius: 10px;
		padding: 10px;
	}
	.about-page-data {
		margin-left: 0;
	}
	.about-page-img{
		display: none;
	}
	.About-Ceblix .Cc-inner-section {
		padding: 40px 10px 135px 10px;
	}
	.accordion .accordion-item {
		padding: 2px;
	}
	.accordion-body {
		padding-top:0px;
	}
	.star-slider{
		margin-top: -94px;
	}
	.testimonial-col .name-data{
		margin-top: 16px;
	   }
.testimonial-wrapper .owl-carousel .owl-item img {
		max-width: 100%;
		width: auto;
		width: 20%;
		height: auto;
	}
	.testimonial-col {
		justify-content: center;
		display: block;
		padding: 15px;
		align-items: center;
		column-gap: 20px;
		border: 1px solid #EDB010;
		border-radius: 10px;
	}
.main-heading h1 {
    font-size: 27px;
    line-height: 37px;
}
	.copywrite-section {
		padding:20px 0px;
	}
	.Logo-white{
		width: auto;
		height: 16px;
	}
	footer {
		padding: 15px 0 0px 0;
	}
	.testimonial-col img{
		width: auto;
		height: 49vh;
	}
	.direct-link-section ul {
		padding:20px 14px;
		column-gap: 20px;
	}
	.direct-link-section ul a {
		font-size: 14px;
	}
}
@media(max-width: 380px){
	.button a {
		font-size: 12px !important;
	}
	.main-heading h1 {
		font-size: 23px;
		line-height: 30px;
	}
	.Logo-white {
		height: 13px;
	}
	.direct-link-section ul {
		padding:20px 6px;
		column-gap: 18px;
	}
	.direct-link-section ul a {
		font-size: 12px;
	}
}
